

<style>
    table, th , td  {
      border: 1px solid grey;
      border-collapse: collapse;
      padding: 5px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    table{
        table-layout: fixed;
        width: 50%;
    }

    table td:nth-child(even) {
      background-color: #a1a1a160;
    } 
    </style>
<table>
    <tr>
        <th>view detail</th>
        <th>card_number</th>
        <th>cardholder_name</th>
        <th>issuer</th>
    </tr>
</table>
<table *ngFor="let card of CardData; let i=index">
    <tr>
        <td><a routerLink="/card/list/{{ i }}"> Details </a></td>
        <td>{{card.card_number}}</td>
        <td>{{card.cardholder_name}}</td>
        <td>{{card.issuer}}</td>
    </tr>

</table>