<p></p>

<style>
    table, th , td  {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    table{
        table-layout: fixed;
        width: 100%;
        column-width: 150px;
    }

    table td:nth-child(even) {
        background-color: #a1a1a160;
    } 
</style>

<table>
    <tr>
        <th>card_number</th>
        <th>cardholder_name</th>
        <th>csc_code</th>
        <th>expiration_date_month</th>
        <th>expiration_date_year</th>
        <th>issuer</th>
    </tr>
    <tr>
        <td>{{singleCard.card_number}}</td>
        <td>{{singleCard.cardholder_name}}</td>
        <td>{{singleCard.csc_code}}</td>
        <td>{{singleCard.expiration_date_month}}</td>
        <td>{{singleCard.expiration_date_year}}</td>
        <td>{{singleCard.issuer}}</td>
    </tr>
</table>

<div style ="text-align:center">
     <button (click)="OnDeleteCard()"> Delete Card </button>     
</div>
<span>

<p align="center">The transactions belong to this card</p> 

<table style="width:100%">
    <tr>
        <th>uid</th>
        <th>amount</th>
        <th>currency</th>
        <th>date</th>
        <th>comment</th>      
    </tr>
</table>

<table *ngFor="let t of transactionData; let i=index">  
    <table *ngIf="t.credit_card.card_number === singleCard.card_number">
            <tr>
                <td>{{t.uid}}</td>
                <td>{{t.amount}}</td>
                <td>{{t.currency}}</td>
                <td>{{t.date}}</td>
                <td>{{t.comment}}</td>
            </tr>
    </table>   
</table>
</span>
