<p></p>

<table>

    <tr>
        <th>card_number</th>
        <th>cardholder_name</th>
        <th>csc_code</th>
        <th>expiration_date_month</th>
        <th>expiration_date_year</th>
        <th>issuer</th>
    </tr>
    <tr>
        <td> {{singleCard.card_number}}</td>
        <td>{{singleCard.cardholder_name}}</td>
        <td> {{singleCard.csc_code}}</td>
        <td> {{singleCard.expiration_date_month}}</td>
        <td> {{singleCard.expiration_date_year}}</td>
        <td>{{singleCard.issuer}}</td>
    </tr>
</table>

<div><button (click)="OnDeleteCard()"> Delete Card </button></div>
<span>
    <p> The transactions belong to this card </p>
    <table>
        <tr>
            <th>ID of a transaction</th>
            <th>amount</th>
            <th>currency</th>
            <th>date</th>
            <th>comment</th>
        </tr>  
        
        <tr *ngFor="let t of transactionData; let i=index">
        <td> {{t.uid}}</td>
        <td> {{t | currencyCustomPipe}}</td>
        <td> {{t.currency}}</td>
        <td> {{t.date | date}}</td>
        <td> {{t.comment}}</td>
</tr>
       
        </table>
</span>