<p>overview works!</p>

<ul>
    <p *ngIf="isFetching">
        Loading Transacation!!
    </p>
    <p *ngIf="!isFetching">
        <button routerLink="/transactions/add"> Add Transacation </button>
    </p>
    <p *ngIf="!isFetching">
        <input type="number" [(ngModel)]="filterCardName"> |
        <button (click)="OnFliter()"> Fliter By Card Number</button>
    </p>

    <span *ngIf="!isFliter">
        <li *ngFor="let t of transactionData; let i=index">
            <button (click)="OnDeleteTransaction(i)">
                Delete
            </button>
            {{ t | transactionPipe }}
        </li>
    </span>
    <span *ngIf="isFliter">
        <li *ngFor="let t of FliteredTransactionData; let i=index">
            <button (click)="OnDeleteFliteredTransaction(i)">
                Delete
            </button>
            {{ t | transactionPipe }}
        </li>
    </span>
</ul>
