<p>add works!</p>

<div>
    <form [formGroup]="AddCardForm" (ngSubmit)="OnCreateData()">
        <div>
            <label for="card_number"> Card Number </label>
            <input 
            type="number"
            id="card_number"
            formControlName="card_number">
            
            <span *ngIf="AddCardForm.get('card_number')?.touched &&
            AddCardForm.get('card_number')?.invalid &&
            AddCardForm.get('card_number')?.errors?.['InValidLen']">
                Card number should be length between 7 to 16.
            </span>

        </div>

        <div>
            <label for="cardholder_name"> Card Holder Name </label>
            <input 
            type="text"
            id="cardholder_name"
            formControlName="cardholder_name">

            <span *ngIf="AddCardForm.get('cardholder_name')?.touched &&
            AddCardForm.get('cardholder_name')?.invalid ">
                Card holder name should not be empty.
            </span>
        </div>
        <div>
            <label for="csc_code"> CSC Code </label>
            <input 
            type="number"
            id="csc_code"
            formControlName="csc_code">

            <span *ngIf="AddCardForm.get('csc_code')?.touched &&
            AddCardForm.get('csc_code')?.invalid &&
            AddCardForm.get('csc_code')?.errors?.['InValidLen']">
                CSC code must be 3 digit integer.
            </span>

        </div>
        <div>
            <label for="expiration_date_month"> Expiration Month </label>
            <input 
            type="number"
            id="expiration_date_month"
            formControlName="expiration_date_month">

            <span *ngIf="AddCardForm.get('expiration_date_month')?.touched &&
            AddCardForm.get('expiration_date_month')?.invalid &&
            AddCardForm.get('expiration_date_month')?.errors?.['InValidLen']">
                Month must be in the range from 1 to 12.
            </span>
        </div>
        <div>
            <label for="expiration_date_year"> Expiration Year </label>
            <input 
            type="number"
            id="expiration_date_year"
            formControlName="expiration_date_year">
            <span *ngIf="AddCardForm.get('expiration_date_year')?.touched &&
            AddCardForm.get('expiration_date_year')?.invalid ">
                Year should not be empty.
            </span>
        </div>
        <div>
            <label for="issuer"> Issuer </label>
            <input 
            type="string"
            id="issuer"
            formControlName="issuer">
        </div>
        <button type="submit" [disabled]="!AddCardForm.valid"> Submit </button>
    </form>
</div>
